<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>paseadores</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row style="background: #f8f8f8;text-align: center;" class="barra_titulo_filtro" #toolbar> 
    <ion-col>
      <div><h3>Cuidadores</h3></div>
    </ion-col>
  </ion-row>
  <ion-row style="background: #f8f8f8">

    <div class="div-paseos" *ngFor="let cuidadores of pasServ.listaCuidadores | async " >
      <app-worker *ngIf="cuidadores.docId != authServ.uid" idUsuario={{cuidadores.docId}} calificacion_promedio={{cuidadores.calificacion_promedio}} tipo=cuidador></app-worker>
    </div>

  </ion-row>


</ion-content>
