.card-publi{
    box-shadow: 2px 5px 5px #999;    
}

.div-publis{
    height: 500px;
    width: 100%;
    
}

.informacion-publi{
    font-size: 10px;
    font-family: Roboto;
    color:rgba(38, 164, 140, 1)
}

.informacion-publi-calificacion{
    position: relative;
    height: 20px;
    font-size: 15px;
    font-family: Roboto;
    color: gray;
}