.card-publi{
    height: 450px;
    width: 200px;
    position: relative;
    box-shadow: px px 0px rgb(255, 255, 255);   
    border-radius: 30px; 
}

.div-publis{
    height: 500px;
    width: 100px;
    transition: all 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.hover:hover{
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-15px);
}

.informacion-publi{
    font-size: 10px;
    font-family: Roboto;
    color:rgba(38, 164, 140, 1)
}

.informacion-publi-calificacion{
    position: relative;
    height: 20px;
    font-size: 15px;
    font-family: Roboto;
    color: gray;
}