<ion-card class="card-publi" [routerLink]="['/publicacion',id, idOrga]">
  <img src="{{foto}}">
  <ion-row>
    <ion-col>
      <ion-card-header class="header-titulo-paseo">
        <h3>{{orgNombre}}</h3>
        <ion-card-title class="titulo-paseo">{{nombre}}</ion-card-title>
        <span class="informacion-publi">Ver más</span>
      </ion-card-header>
      <ion-card-content class="informacion-publi-calificacion">
        <span>{{calificacion}}⭐</span>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>
