<ion-card class="card-publi" [routerLink]="['/publicacion',id, idOrga]">
  <img src="{{foto}}">
  <ion-row>
    <ion-col>
      <ion-card-header class="header-titulo-paseo">
        <h3>{{orgNombre}}</h3>
        <ion-card-title class="titulo-paseo">{{nombre}}</ion-card-title>
        <span class="informacion-publi">Ver más</span>
      </ion-card-header>
      <ion-card-content class="informacion-publi-calificacion">
        <!--<span>{{calificacion}}<font color="#ffbf00">★</font></span>-->
        <span class="informacion-paseo">{{orga.calificacion}}</span> 
        <ion-icon name="star"  [ngStyle]="{'fill':orga.calificacion >= 3 ? 'green' : 'red'}"></ion-icon>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>

