.card{
  height: 190px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 500px 20px rgba(0,0,0,0.19), 0 5px 6px rgba(0,0,0,0.23);
}

.prueba{
  height: 110px;
  width: 110px;
  border-radius: 100%;
}

.titulo{
  width: 100%;
  font-size: large;
}

.divideEnDosLaCarta{
  display: inline-block;
}

.prueba1{
  height: 110px;
  width: 110px;
  border-radius: 100%;
}

.prueba2{
  height: 110px;
  width: 110px;
  border-radius: 100%;
}

.contieneFoto2{
  position: absolute;
  margin-left: 28px;
  margin-top: -48px;
}