.columna-foto-datos{
    border-bottom: inset;
}
.div-circle-profile{
    height: 100px;
    width: 100px;
}
.img_profile{
    border-radius: 100%;
    margin-top: 3px;
}
.div-contiene-foto-nombre{
    display: flex;
}
.div-contiene-nombre-provincia{
    margin-left: 10px;
    margin-top: 10px;
}
.h2-nombre-usuario{
    font-family: Roboto;
    font-size: 25px;
}
.div-provincia-usuario{
    margin-top: -12px;
}
.h2-provincia-usuario{
    font-size: 13px;
    font-family: 'Roboto';
}
.fondo-color-casi-blanco{
    background-color: rgba(255, 251, 250, 1);
}
.div-paseos{
    width: 100%;
}
.titulo-apartado-paseo{
    font-family: Roboto;
    font-size: 20px;
}
.card-paseo{
    box-shadow: 2px 5px 5px #999;
    border-radius: 20px;
}
.foto-mapa{
    width: 150px;
    height: 105px;
    margin-top: 7%;
    margin-left: 4%;
    margin-bottom: 3%;
    border-radius: 8%;
}
.titulo-paseo{
    font-family: Roboto;
    font-size: 14px;
}
.informacion-paseo{
    font-size: 10px;
    font-family: Roboto;
}
.header-titulo-paseo{
    padding: 8px !important;
}
.boton-editar-cuidados{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
}

.card-mascota{
    //position:absolute;
    box-shadow: 2px 5px 5px #999;
    box-shadow: 0px 5px 10px 5px rgba(119, 119, 119, 0.50);
    border-radius: 35px;
    width: 100%;
    height: 95vw;
    object-fit: cover;
}
.div-mascotas{
    width: 100%;
    
}
.informacion-mascota{
    font-size: 10px;
    font-family: Roboto;
    color:rgba(38, 164, 140, 1)
}
.image{
    max-width: 100%;
    max-height: 400px;
}

.header-titulo-mascota{
    padding: 8px !important;
    display: flex;   
    align-items: center;
    justify-content: center;
}