<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>paseadores</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row class="barra_titulo_filtro" #toolbar> 
    <ion-col>
      <div><h3>Paseadores</h3></div>
    </ion-col>
  </ion-row>
  <ion-row>

    <div class="div-paseos"  >
      <app-worker  *ngFor="let paseador of pasServ.listaPaseadores | async " idUsuario={{paseador.docId}}
      calificacion_promedio={{paseador.calificacion_promedio}}></app-worker>
    </div>

  </ion-row>


</ion-content>
