<ion-content >
  <ion-header>
    <ion-toolbar>
      <ion-title>paseadores</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row style="background: #f8f8f8;text-align: center;" class="barra_titulo_filtro" #toolbar> 
    <ion-col>
      <div><h3>Paseadores</h3></div>
    </ion-col>
  </ion-row>
  <ion-row style="background: #f8f8f8;">

    <div class="div-paseos">
      
      <div *ngFor="let paseador of pasServ.listaPaseadores | async ">

        <app-worker *ngIf="paseador.docId != authServ.uid" idUsuario={{paseador.docId}} calificacion_promedio={{paseador.calificacion_promedio}}></app-worker>

      </div>

    </div>

  </ion-row>


</ion-content>
