<ion-card class="card-paseo">
  <ion-row>
    <div>
      <img class="foto-mapa" src='../../assets/images/mapa.png'>
    </div>
    <ion-col>
      <ion-card-header class="header-titulo-paseo">
        <ion-card-title class="titulo-paseo">Plan 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <span class="informacion-paseo">{{plan.dias}}</span><br>
        <span class="informacion-paseo">{{plan.hora}}</span>
        <ion-row>
          <span class="informacion-paseo">Cupos disponibles :</span>
          <span class="informacion-paseo">
            {{plan.cupo}}
          </span>
        </ion-row>
        <button class="boton-editar">Editar</button>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>