<ion-card class="card-mascota">
  <img src="https://firebasestorage.googleapis.com/v0/b/pets-5ca11.appspot.com/o/89592b3392fee110134235e95d80dbf7.jpg?alt=media&token=ca0f279f-f431-49f4-a026-262c65b41ae2">
  <ion-row>
    <ion-col>
      <ion-card-header class="header-titulo-paseo">
        <ion-card-title class="titulo-paseo">Biscut</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <span class="informacion-paseo">calificación</span>
      </ion-card-content>
    </ion-col>
    <ion-card-content>
      <span class="informacion-mascota">Ver Más</span>
    </ion-card-content>
  </ion-row>
</ion-card>
