<ion-header>
  <ion-toolbar>
    <ion-title>notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="userServ.paseador | async;let paseador">
    <ion-row style="background: #a1cac363;box-shadow: 0px 5px 4px rgb(0 0 0 / 30%);">
      <label style="margin: auto;font-size: x-large;">Solicitud Paseo</label>
    </ion-row>
    <app-solicitud-contrato *ngFor="let contrato of paseador.contratos" idContrato = {{contrato}} tipo = "Paseador">

    </app-solicitud-contrato>
  </div>
  <div *ngIf="userServ.cuidador | async;let cuidador">
    <ion-row style="background: #a1cac363;box-shadow: 0px 5px 4px rgb(0 0 0 / 30%);">
      <label style="margin: auto;font-size: x-large;">Solicitud Cuidado</label>
    </ion-row>
    <app-solicitud-contrato *ngFor="let contrato of cuidador.contratos" idContrato = {{contrato}} tipo = "Cuidador">

    </app-solicitud-contrato>
  </div>

</ion-content>