<ion-header>
  <ion-toolbar>
    <ion-title>crear-paseo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <ion-col>
    
      <ion-row>
        
        <ion-col>
          
          <a>Costo (AR$)</a>
          <ion-item lines="full" style="margin-left: 5px;">
            <ion-input type="number" [(ngModel)]="costo" required></ion-input>
          </ion-item>
  
        </ion-col>
  
      </ion-row>
  
      <ion-row>
        
        <ion-col>
          
          <a>Cupo</a>
          <ion-item>
            <ion-label>Cantidad de mascotas</ion-label>
            <ion-select [(ngModel)]="cupo" placeholder="Select One">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
              <ion-select-option value="8">8</ion-select-option>
            </ion-select>
          </ion-item>
  
        </ion-col>
  
      </ion-row>
  
      <ion-row>
        
        <ion-col>
          
          <a>Duracion del plan:</a>
          <ion-item>
            <ion-label>Plazo</ion-label>
            <ion-select [(ngModel)]="plazo" placeholder="Select One">
              <ion-select-option value="1">Semanal</ion-select-option>
              <ion-select-option value="2">Quincenal</ion-select-option>
              <ion-select-option value="3">Mensual</ion-select-option>
            </ion-select>
          </ion-item>
  
        </ion-col>
  
      </ion-row>
  
      <ion-row>
        
        <ion-col>
          
          <a>Cantidad dias de paseo:</a>
          <ion-item>
            <ion-label>Numero de dias</ion-label>
            <ion-select [(ngModel)]="CantDiasPaseo" placeholder="Select One">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
            </ion-select>
          </ion-item>
  
        </ion-col>
  
      </ion-row>
  
      <ion-row>
        
        <ion-col>

          <a>Selecciona los disponibles:</a>
          
          <ion-row>

            <label *ngFor="let Dia of diasDisponibles">
              
              <ion-row>
                <input type="checkbox" [(ngModel)]="Dia.estado" > {{Dia.nombre}}
              </ion-row>
              
            </label>

          </ion-row>
    
        </ion-col>
      
      </ion-row>
  
      <button type="submit" (click)="crearPaseo()">Aceptar</button>
  
    </ion-col>

  </div>

</ion-content>
