  <head>
  <meta charset="UTF-8">
</head>
<body>
<ion-content id="contentPerfilUsusario">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Usuario</ion-title>
      </ion-toolbar>
    </ion-header>
  <ion-row class="columna-foto-datos">
    <ion-col>
      <div class="div-contiene-foto-nombre">
        <div class="div-circle-profile">
          <img class="img_profile" src="../../assets/images/sin_perfil.png" >
        </div>
        <div class="div-contiene-nombre-provincia">
          <div class="div-nombre-usuario">
            <h2 class="h2-nombre-usuario">Nombre Apellido</h2>
          </div>
          <div class="div-provincia-usuario">
            <h3 class="h2-provincia-usuario">CABA, Buenos Aires</h3>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div>
        <ion-segment scrollable (scroll)="onscroll()" ngClass="navbarfixed?'fixed':'nofixed'">
          <ion-segment-button *ngFor="let categoria of categorias" value={{categoria}}>
            <ion-label>{{categoria}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-col>
  </ion-row> 
  <ion-row>
    <ion-col>
      <ion-row>
        <h2 class="titulo-paseo" >Paseos</h2>
      </ion-row>
      <ion-row>
        <div class="div-paseos">
          <ion-card class="card-paseo">
            <ion-card-header>
              <ion-card-subtitle>Plan de paseo</ion-card-subtitle>
              <ion-card-title>Plan 1</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
          <ion-card class="card-paseo">
            <ion-card-header>
              <ion-card-subtitle>Plan de paseo</ion-card-subtitle>
              <ion-card-title>Plan 1</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-row>
    </ion-col>
  </ion-row> 
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="presentPopover()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
</body>