.columna-foto-datos{
    border-bottom: inset;
}
.div-circle-profile{
    height: 100px;
    width: 100px;
}
.img_profile{
    border-radius: 100px;
}
.div-contiene-foto-nombre{
    display: flex;
}
.div-contiene-nombre-provincia{
    margin-left: 10px;
    margin-top: 10px;
}
.h2-nombre-usuario{
    font-family: Roboto;
    font-size: 20px;
}
.div-provincia-usuario{
    margin-top: -12px;
}
.h2-provincia-usuario{
    font-size: 13px;
    font-family: 'Roboto';
}