<ion-card class="card-paseo" *ngIf="usuario | async; let usuario"  >
  <ion-row>
    <div style="margin:auto 0 auto 10px;">
      <ion-avatar>
        <img class="foto-mapa" src="{{usuario.foto}}">
      </ion-avatar>
    </div>
    <div>
      
      <ion-card-content>
        <div class="header-titulo-paseo">
          <ion-card-title class="titulo-servicio">{{usuario.nombre}}</ion-card-title>
        </div>
          <ion-row>
            <span class="informacion-paseo">{{usuario.barrio}}</span>
          </ion-row>
        <button class="button-green" [routerLink]="['/perfil',this.idUsuario]">Ver perfil</button>
      </ion-card-content>
    </div>
    <div style="font-size: 27px;margin-right: 0;margin-left: auto;margin:auto 10px auto auto;">

        <span class="informacion-paseo">{{calificacion_promedio}}</span> 
        <ion-icon name="star" class="star" [ngStyle]="{'fill':calificacion_promedio >= 3 ? 'green' : 'red'}"></ion-icon>
    </div>
  </ion-row>
</ion-card>


<!---->