<ion-header>
  <ion-toolbar>
    <ion-title>reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="columna-foto-datos" #toolbar>
    <ion-col>
      <div class="div-contiene-foto-nombre">
        <ion-avatar>
          <img *ngIf="this.usuario | async; let user1" src="{{user1.foto}}">
        </ion-avatar>
        <div class="div-contiene-nombre-provincia">
          <div class="div-nombre-usuario">
            <h2 class="h2-nombre-usuario" *ngIf="this.usuario | async; let user1">{{ user1.nombre }} {{user1.apellido}}
            </h2>
          </div>
          <div class="div-provincia-usuario">
            <h3 class="h2-provincia-usuario" *ngIf="this.usuario | async; let user1">{{ user1.barrio }}</h3>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="background: #a1cac363;box-shadow: 0px 5px 4px rgb(0 0 0 / 30%);">
    <label style="margin: auto;font-size: x-large;">Informacion</label>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="tipo == 'paseador'; else a" >
      <div *ngIf="this.planPaseo | async; let plan" style="margin: auto">
        <h5>» costo diario: {{plan.costo}}</h5>
        <h5>» plazo: {{plan.plazo}}</h5>
        <h5>» cantidad de dias: {{plan.cantidad_dias}}</h5>
      </div>
    </ion-col>
    <ng-template #a>
      <ion-col *ngIf="this.planCuidador | async; let cuidado" style="margin: auto">
        <h5>» costo diario: {{cuidado.costo}}</h5>
        <h5>» cantidad de dias: {{cuidado.cantidad_dias}}</h5>
      </ion-col>
    </ng-template>
  </ion-row>
  <ion-row style="background: #a1cac363;box-shadow: 0px 5px 4px rgb(0 0 0 / 30%);">
    <label style="margin: auto;font-size: x-large;">Mascotas</label>
  </ion-row>
  <ion-row>
    <ion-col>
      <label *ngFor="let mascota of mascotasCheck">
        <ion-row>
          <ion-toggle type="checkbox" [(ngModel)]="mascota.estado" (ngModelChange)="checkDisponibilidad()"></ion-toggle>
          <label>{{mascota.nombre}}</label>
        </ion-row>
      </label>
    </ion-col>
  </ion-row>
  <ion-row style="background: #a1cac363;box-shadow: 0px 5px 4px rgb(0 0 0 / 30%);">
    <label style="margin: auto;font-size: x-large;">Dias</label>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="tipo == 'paseador'; else elseBlock">
      <label *ngFor="let Dia of diasDisponibles">
        <ion-row>
          <ion-toggle *ngIf="Dia.modificador != 'disable'; else elseBlock" type="checkbox" [(ngModel)]="Dia.estado" (ngModelChange)="checkDisponibilidad()">
          </ion-toggle>
          <ng-template #elseBlock>
            <ion-toggle disabled type="checkbox" [(ngModel)]="Dia.estado"></ion-toggle>
          </ng-template>
          <label>{{Dia.nombre}}</label>
        </ion-row>
      </label>
    </ion-col>
    <ng-template #elseBlock>
      <ion-datetime style="margin:auto;" placeholder="Seleccionar el dia de comienzo del cuidado" displayFormat="DD-MMM-YYYY" [(ngModel)]="fecha"></ion-datetime>
    </ng-template>
  </ion-row>
  <!-- <ion-row style="background-color: rgb(0 0 0 / 21%);
  position: fixed;
  padding: 10px;
  width: 100%;
  bottom: 0;
  box-shadow: 5px 5px 25px 20px rgb(0 0 0 / 24%);"> -->
  <ion-row>
    <button id="reservar" (click)="reservar()">RESERVAR</button>
  </ion-row>
</ion-content>
