<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-col>
    <div class="div-contiene-foto-nombre" *ngIf="this.org.organizacion | async ; let orga">
      <ion-avatar id="org-avatar">
        <img *ngIf="this.org.organizacion" src="{{orga.foto}}">
      </ion-avatar>
      <div class="div-contiene-nombre-provincia" *ngIf="org.organizacion; let orgAux">
        <div class="div-nombre-organizacion">
          <h1 style="font-weight: bold;">{{ orga.nombre }}</h1>
        </div>
        <div class="div-localizacion-org">
          <h6 *ngIf="org.organizacion; let orgAux" style="margin-top: -10px;">Se encuentra en: {{ orga.localizacion }}</h6>
        </div>
        <div class="div-localizacion-org">
          <ion-button class="button-add-administrador" (click)="popController.presentPopover()">
            <ion-icon name="add"></ion-icon>
            <label style="font-size: 11px;margin-top: 2px;">administrador</label>
          </ion-button>
        </div>
      </div>
    </div>
  </ion-col>
  <ion-list>
    <ion-item class="item-publicaciones">
      <ion-label>
        <p class="label-publicaciones">Publicaciones</p>
      </ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" *ngIf="org.organizacion; let orgAux"
        interface="action-sheet" placeholder="{{orgAux.nombre}}" [(ngModel)]="idOrganizacion"
        (ionChange)="cambiarOrganizacion()">
        <ion-select-option *ngFor="let orgAux of this.org.organizaciones | async" value="{{orgAux.oid}}">{{orgAux.nombre}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row *ngIf="publiServ.publicaciones | async">
      <div *ngIf="this.org.organizacion; let orgAux">
        <publi-card *ngFor="let publi of publiServ.publicaciones | async" calificacion={{publi.calificacion}}
          foto={{publi.foto}} nombre={{publi.nombre}} id={{publi.docId}} idOrga={{orgAux.oid}}></publi-card>
      </div>
    </ion-row>
  </ion-grid>
  <!--</scrollable-component> !-->


  <ion-fab class="boton-publicaciones" vertical="bottom" horizontal="end" slot="fixed" style = "--background: rgb(123, 215, 181)" > 
    <ion-fab-button routerLink="/config-publicacion" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  


 