.div-contiene-foto-nombre{
    display: flex;
    width: fit-content;
    margin-left: 10px;
}

.div-nombre-organizacion,.div-localizacion-org{
    margin-top: 0px;
    margin-left: 10px;
}

.div-contiene-nombre-provincia{
    margin-left: 10px;
}

#org-avatar{
    height: 100px;
    width: 100px;
    // margin-left: 30px;
    box-shadow: 5px 2px 20px 2px rgb(0 0 0 / 30%);
}
