<div *ngIf="this.aServ.user$">
  <ion-row class="subtitle">
    <ion-label style="font-weight: bold;">Últimas publicaciones de tus organizaciones favoritas</ion-label>
  </ion-row>
  <ion-row *ngIf="this.aServ.user$.orgFavoritas.length>0; else elseBlock">

    <ion-row *ngIf="this.publisRecientes==true; else noPublis">

      <ion-slides class="slide1" pager="true" >
        <ion-slide class="slide2" >
          <div *ngFor="let publi of this.publicaciones">
            <publi-card  id={{publi.docId}} nombre={{publi.nombre}} foto={{publi.foto}} calificacion={{publi.calificacion}}></publi-card>
          </div>
          
        </ion-slide>
      </ion-slides>
      <!--<app-slider-publis-orgas orgaID={{orgaID}} ></app-slider-publis-orgas>-->
    </ion-row>
    <ng-template #noPublis>
      no hay publis
    </ng-template>
    <ion-row *ngFor="let orgaID of this.aServ.user$.orgFavoritas">
      <app-slider-publis-orgas orgaID={{orgaID}} ></app-slider-publis-orgas>
    </ion-row>
  </ion-row>
  <ng-template #elseBlock>
    <ion-label>No tenés organizaciones favoritas guardadas</ion-label>
    <button class="button-green" [routerLink]="['/organizaciones']">Explorar Organizaciones</button>
  </ng-template>
  
</div>

