<ion-content  *ngIf="this.publicacion | async; let publi">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Publicacion</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label><p class="label-organizacion">.</p></ion-label>
  <ion-col *ngIf= "this.organizacion | async; let org">
    <div class="div-contiene-foto-nombre" >
      <ion-avatar  id="org-avatar">
        <img src="{{org.foto}}">
      </ion-avatar>
      <div class="div-contiene-nombre-provincia">
        <div class="div-nombre-organizacion">
          <h1 style="font-weight: bold;">{{ org.nombre }}</h1>
        </div>
      </div> 
    </div>
  </ion-col>
  <ion-item class="item-publicaciones">
  </ion-item>
  <div>
    <div class="centrado"><ion-label class="nombre-publi">{{publi.nombre}}</ion-label></div>
    <div class="centrado"> <img class="foto" src="{{publi.foto}}"> </div>
    <div class="izquierda">
      <ion-button (click)="mostrarTexto('descripcion')" color="none" class="boton-desc"> Descripcion </ion-button>
      <p id="descripcion" style="display: none;" class="label-desc"><font color="brown">🐾</font>&nbsp;{{publi.descripcion}}</p>
      <div class="izquierda"> <ion-button (click)="mostrarTexto('cuidados')" color="none" class="boton-cuidados"> Cuidados </ion-button></div>
      <p id="cuidados" style="display: none;" class="label-cuidados"><font color="green">✚</font>&nbsp;{{publi.cuidados}}</p>
    </div>
  </div>
  <button class="button-green" (click)="nuevoTransito()" [routerLink]="['/organizacion',publi.docId]">Quiero transitar</button>
  <button class="button-green" [routerLink]="['/organizacion',publi.docId]">Quiero adoptar</button>
</ion-content>
