#reservar{
    font-family: "Roboto", sans-serif;
    display: block;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background: #7bd7b5;
    color: white;
}