<ion-content  *ngIf="this.mascota | async; let mascota">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Publicacion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <div>
    <div class="centrado"><ion-label class="nombre-publi">{{mascota.nombre}}</ion-label></div>
    <div *ngFor="let fotuli of mascota.fotos">
      <img src={{fotuli}}>
    </div>
    <div class="izquierda">
      <ion-button (click)="mostrarTexto('descripcion')" color="none" class="boton-desc"> Descripcion </ion-button>
      <p id="descripcion" style="display: none;" class="label-desc"><font color="brown">🐾</font>&nbsp;{{mascota.descripcion}}</p>
      <div class="izquierda"> <ion-button (click)="mostrarTexto('cuidados')" color="none" class="boton-cuidados"> Cuidados </ion-button></div>
      <p id="cuidados" style="display: none;" class="label-cuidados"><font color="green">✚</font>&nbsp;{{mascota.cuidados}}</p>
    </div>
  </div>
</ion-content>
