<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    
    <ion-col>

      <ion-row>
        
        <ion-col>
          <a>Nombre:</a>
          <ion-item lines="full" style="margin-left: 5px;">
            <ion-input type="text" [(ngModel)]="nombre" required></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
      
      <ion-row>

        <ion-col>
          <a>Especie:</a>
          <ion-item lines="full" style="margin-left: 5px;">
            <ion-select [(ngModel)]="especieMascota" placeholder="Select One">
              <ion-select-option *ngFor="let especieMascota of this.especieServ.especies" value="{{especieMascota.nombreEspecie}}">{{especieMascota.nombreEspecie}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        
        <ion-col>
          <a>Descripcion:</a>
          <ion-item lines="full" style="margin-left: 5px;">
            <ion-input type="text" [(ngModel)]="descripcion" required></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        
        <ion-col>
          <a>Cuidados:</a>
          <ion-item lines="full" style="margin-left: 5px;">
            <ion-input type="text" [(ngModel)]="cuidado" required></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
          
        <ion-col>
          <div *ngIf="listImages.length < 9" class="col">
        
            <i id="addImageIcon" class="bi bi-plus-square"></i>
            <input
              required
              type="file"
              autocomplete="off"
              accept="image/*"
              #inputFile
              (change)="onFileSelected($event, 'product')"
            />
        </div>
        </ion-col>

      </ion-row>

    </ion-col>


    <div class="imagesContainer">
      <div class="container">
        <div class="row row-cols-3">
          <div *ngFor="let image of listImages; let i = index">
            <div class="col text-center">
              <img [src]="image | sanitizer" />
              <button
                type="button"
                class="btn-close color-danger"
                aria-label="Close"
                (click)="deleteImage(i)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <button type="submit" class="botonAceptar" (click)="subidaAnimal()" routerLink="/perfil-usuario">Aceptar</button>
  </div>

</ion-content>
