<ion-item>
  <ion-label position="floating">e-mail, nombre o apellido</ion-label>
  <ion-input [(ngModel)]="busqueda" (ngModelChange)="buscarUser()"></ion-input>
</ion-item>
<div style="height: 345px;overflow: auto;">
  <ion-item *ngFor="let user of usuarios" style="font-size: 13px;">
    <ion-col style="display:contents">
      <ion-avatar style="height: 40px;width: 40px;">
        <img src="{{user['foto']}}">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-row>
      <label style="font-weight: bold;">{{user["nombre"]}} {{user["apellido"]}}</label>
    </ion-row>
    <ion-row>
      <label style="color: #7bd7b5;font-size: 10px;max-width: 150px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{user["email"]}}</label>
    </ion-row>
    </ion-col>
    <ion-col style="margin: auto;text-align: end;">
      <ion-button class="button-enviar">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-item>
</div>
<!-- style="height:100px;overflow: hidden;" -->