.div-contiene-foto-nombre{
    display: flex;
    width: fit-content;
    margin-left: 15px;
    position: relative;
    bottom: 10px;
}

.item-publicaciones{
    position: relative;
    bottom: 25px;
}

.label-publicaciones{
    position: relative;
    left: 10px;
    font-size: medium;
    color: black; 
}

.div-nombre-organizacion,.div-localizacion-org{
    margin-top: 0px;
    margin-left: 10px;
}

.div-contiene-nombre-provincia{
    margin-left: 10px;
}

#org-avatar{
    height: 100px;
    width: 100px;
    // margin-left: 30px;
    box-shadow: 5px 2px 20px 2px rgba(0, 0, 0, 0.3);
}

.label-organizacion {
    text-align: center;
    font-size: large;
    color:black;
    position: relative;
    top: 5px;
}

.label-toolbar{
    position: fixed;
    top: 40px;
    left: 50px;
    font-size: 10px;
}

.boton-publicaciones{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.titulo-apartado-paseo{
    font-family: Roboto;
    font-size: 20px;
}