<ion-card class="card-mascota" [routerLink]="['/mascota',idUser,id]">
  <div *ngFor="let fotuli of mascota1.fotos">
    <img src={{fotuli}}>
  </div>
  <ion-row>
    <ion-col>
      <ion-card-header class="header-titulo-paseo">
        <ion-card-title class="titulo-paseo">{{this.mascota1.nombre}}</ion-card-title>
        <span class="informacion-mascota">Ver más</span>
      </ion-card-header>
      <ion-card-content class="informacion-mascota-calificacion">
        <span>{{mascota1.calificacion}}</span>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>
