<ion-header>
  <ion-toolbar>
    <ion-title>configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div>
    <h3>Configuracion perfil</h3>
    
    
      <ion-col>
        
        <ion-row>
          
          <ion-col>
            <a>Nombre:</a>
            <ion-item lines="full" style="margin-left: 5px;">
              <ion-input type="text" [(ngModel)]="nombre" required></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>
          
          <ion-col>
            <a>Apellido:</a>
            <ion-item lines="full" style="margin-left: 5px;">
              <ion-input type="text" [(ngModel)]="apellido"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>
          
          <ion-col>
            <a>Correo:</a>
            <ion-item lines="full" style="margin-left: 5px;">
              <ion-input type="text" [(ngModel)]="correo" required></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>
          
          <ion-col>
            <a>Fecha nacimiento:</a>
            <ion-item lines="full" style="margin-left: 5px;">
              <ion-input type="text" [(ngModel)]="fechaNacimiento" required></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>
          
          <ion-col>
            <a>DNI:</a>
            <ion-item lines="full" style="margin-left: 5px;">
              <ion-input type="text" [(ngModel)]="DNI" required></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>
          
      <!--<ion-col>
            <a>Ubicacion:</a>
            <ion-item lines="full" style="margin-left: 5px;">
              <ion-input type="text" *ngIf="aServ.user$ | async; let user1" value="{{user1.}}" #nombre required></ion-input>
            </ion-item>
          </ion-col> -->

        </ion-row>
      
        <button type="submit" class="botonAceptar" (click)="cambiarDatos()">Aceptar</button>
      </ion-col>
    
  </div>

</ion-content>
