
  //botones-----------------------------
  #login{
    font-family: "Roboto", sans-serif;
    display: block;
    height: 50px;
    opacity: 0.8;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 15px;
    margin-top: 50px;
    background-color: #63a89bc0;
    color: black;
  }
  
  ion-content {
    --background: #ffffff00;
    position: absolute;
  }
  
  ion-item {
    --background: rgba(255, 255, 255, 0.7);
    --border-color: #ffffff00;
    --highlight-color-focused: none;
    --color: black;
    --min-height: 40px;
    border-radius: 15px;
    margin: 10px;
  }
  
  ion-input {
    font-size: 18px;
  }
  form {
    margin-top: 250px;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 12px;
    transition: 0.2s;
  }
  
  @media (min-width: 500px) {
    form {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  