<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start" menu="ion-menu" (click)="changeIconMenu()">
      <ion-icon id="menu-icon" name="menu-outline"></ion-icon>
    </ion-menu-button>
    <ion-label *ngIf="usuario" class="ion-label-toolbar" >{{ usuario.nombre }} {{usuario.apellido}}</ion-label>
    <ion-label class="label-toolbar" id="toolbar">  </ion-label>
    <ion-button id="mail-button" slot="end" routerLink="/chat">
      <ion-icon style="font-size: 30px;position: absolute;" name="chatbubbles-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" swipeGesture="false" menuId="ion-menu" contentId="main">
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar>
          <img *ngIf="usuario" src="{{usuario.foto}}" >
        </ion-avatar>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="usuario" (click)="closeMenu()" class="h2-nombre-usuario" id="nombre-apellido">{{ usuario.nombre }} {{usuario.apellido}}</ion-label>
      </ion-item>
      <ion-item>
        <a menuClose routerLink="/home" (click)="closeMenu()" style="display: block; text-align: center;">
          <ion-icon name="home-outline"></ion-icon>
          <h6>Home</h6>
        </a>
      </ion-item>
      <ion-item>
        <a menuClose routerLink="/perfil-usuario" (click)="closeMenu()" style="display: block; text-align: center;">
          <ion-icon name="person-outline"></ion-icon>
          <h6>Perfil</h6>
        </a>
      </ion-item>
      <ion-item *ngIf="(orga.organizaciones | async )?.length > 0">
        <a routerLink="/perfil-organizacion" (click)="closeMenu()" style="display: block; text-align: center;">
          <ion-icon name="business-outline"></ion-icon>
          <h6>Perfil de Organizacion</h6>
        </a>
      </ion-item>
      <ion-item>
        <a menuClose routerLink="/misorganizaciones" (click)="closeMenu()" style="display: block; text-align: center;">
          <ion-icon name="heart-outline"></ion-icon>
          <h6>Mis Organizaciones</h6>
        </a>
      </ion-item>
      <ion-item>
        <a menuClose routerLink="/configuraciones" (click)="closeMenu()" style="display: block; text-align: center;">
          <ion-icon name="settings-outline"></ion-icon>
          <h6>Configuracion</h6>
        </a>
      </ion-item>
      <ion-item>
        <a routerLink="/notificaciones" (click)="closeMenu()" style="display: block; text-align: center;">
          <ion-icon id="a" name="mail-outline"></ion-icon>
          <h6>Notificaciones</h6>
        </a>
      </ion-item>
      <ion-item>
        <a menuClose routerLink="/login" (click)="closeSession()" style="display: block; text-align: center;">
          <ion-icon style="color: red;" name="exit-outline"></ion-icon>
          <h6 style="color: red;">Cerrar sesión</h6>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>