<ion-content>
  <ion-grid style="margin-top: 70px;">
    <ion-row>
      <ion-col>
        <a href="" routerLink="/paseadores">
          <div class="div-circle-background">
            <div class="div-img-circle">
              <span class="iconify icon:twemoji:guide-dog icon-inline:false"></span>
            </div>
          </div>
          <ion-label>Paseadores</ion-label>
        </a>
      </ion-col>
      <ion-col>
        <a href="" routerLink="/cuidadores">
          <div class="div-circle-background">
            <div class="div-img-circle">
              <span class="iconify icon:flat-color-icons:home icon-inline:false"></span>
            </div>
          </div>
          <ion-label>Cuidadores</ion-label>
        </a>
      </ion-col>
      <ion-col style="align-items: center; ">
        <a href="" routerLink="/organizaciones">
          <div class="div-circle-background">
            <div class="div-img-circle">
              <span class="iconify" data-icon="noto:smiling-cat-with-heart-eyes"></span>
            </div>
          </div>
          <ion-label>Organizaciones</ion-label>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="subtitle">
      <ion-label>Agenda</ion-label>
    </ion-row>
    <ion-row>
      
      <app-slider-agenda></app-slider-agenda>
     
    </ion-row>
    
    <app-sector-publis-orga></app-sector-publis-orga>
    
  </ion-grid>
</ion-content>
