<ion-content>
  <ion-grid style="margin-top: 70px;">
    <ion-row>
      <ion-col style="margin-right: 40px;">
        <a href="" routerLink="/paseadores">
          <div class="div-circle-background">
            <div class="div-img-circle">
              <span class="iconify icon:twemoji:guide-dog icon-inline:false"></span>
            </div>
          </div>
          <ion-label>Paseos</ion-label>
        </a>
      </ion-col>
      <ion-col style="margin-left: 40px;">
        <a href="" routerLink="/cuidadores">
          <div class="div-circle-background">
            <div class="div-img-circle">
              <span class="iconify icon:flat-color-icons:home icon-inline:false"></span>
            </div>
          </div>
          <ion-label>Cuidadores</ion-label>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="subtitle">
      <ion-label>Agenda</ion-label>
    </ion-row>
    <ion-row>
      
      <ion-slides class="slide1" pager="true">
        <ion-slide class="slide2">
          <app-slider-agenda></app-slider-agenda>
        </ion-slide>
      </ion-slides>
     
    </ion-row>
    <ion-row class="subtitle">
      <ion-label>Últimas publicaciones de refugios</ion-label>
    </ion-row>
  </ion-grid>
</ion-content>
