.button-ver-mas{
    --background: #7bd7b5;
    --color: white;
    --border-radius: 100px;
    --width: 90px;
    --font-size: 15px;
    --height: 30px;
}

.card-notificacion{
    box-shadow: 2px 5px 5px #999;
    border-radius: 30px;
    transition: all 0.2s ease-out;
    height: 65px;
}