<ion-card id="{{idContrato}}" class="card-notificacion">
  <ion-row>
    <ion-col style="display: contents">
      <ion-avatar>
        <img *ngIf="imgCliente" src="{{imgCliente}}">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-card-title style="font-weight: bold;color: #7bd7b5;">{{this.userName}}</ion-card-title>
      <ion-card-subtitle *ngIf="contrato">{{this.barrio}}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="contrato">{{this.contrato.fechaContratacion}}</ion-card-subtitle>
    </ion-col>
    <ion-col style="margin: auto;text-align: end;">
      <ion-button class="button-ver-mas" (click)="expandirSolicitud()">{{botonInfo}}</ion-button>
    </ion-col>
  </ion-row>

  <ion-col *ngIf="tipo == 'Paseador'">
    <!-- <ion-row style="width: 100%;">
      <h2>Dias:</h2>
    </ion-row> -->
    <ion-row>
      <div style="margin: auto;">
      <div class="dia-semana" id="{{idContrato}}Lunes" >L</div>
      <div class="dia-semana" id="{{idContrato}}Martes" >M</div>
      <div class="dia-semana" id="{{idContrato}}Miercoles" >M</div>
      <div class="dia-semana" id="{{idContrato}}Jueves" >J</div>
      <div class="dia-semana" id="{{idContrato}}Viernes" >V</div>
      <div class="dia-semana" id="{{idContrato}}Sabado" >S</div>
      <div class="dia-semana" id="{{idContrato}}Domingo" >D</div>
    </div>
    </ion-row>
  </ion-col>
  
  <ion-row id="Mascotas" *ngIf="mascotas">
    <ion-col>
      <ion-row *ngIf="mascotas; let mascota">
        <!-- <ion-row style="width: 100%;">
          <h2>Mascotas:</h2>
        </ion-row> -->
 
          <ion-slides>
            <ion-slide *ngFor="let mascota of mascotas" class='div-mascotas' pager="true">
              <ion-card class="card-mascota">
                <img style="height: 160px;object-fit: cover;width: 60vw;" src="{{mascota.fotos}}" class="image">
                  <ion-card-header class="header-titulo-mascota">
                    <ion-card-title class="titulo-paseo">{{mascota.nombre}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-subtitle>
                    <span class="informacion-paseo">calificación:  {{mascota.calificacion}}
                      <ion-icon name="star-outline"></ion-icon>
                    </span>
                  </ion-card-subtitle>
                  <ion-card-content>
                    <span class="informacion-mascota" style="color: #7bd7b5;">Ver Más</span>
                  </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        
      </ion-row>
    </ion-col>
  </ion-row>
  <!--  -->
  <ion-row>
    <ion-col style="margin: auto;text-align: center;">
      <ion-button  class="button-aceptar" (click)="aceptarContrato(idContrato)">
        <ion-icon style="font-size: 30px;" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
      <ion-button  class="button-rechazar" (click)="rechazarContrato(idContrato)">
        <ion-icon style="font-size: 30px;" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>